@font-face {
    font-family: Moranga-Regular;
    src: url(../Moranga/Moranga-Regular.otf) format("opentype");
}

@font-face {
    font-family: Proxima;
    src: url(../Proxima_Nova/ProximaSoft-Regular.otf) format("opentype");
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FEF0DC;
    font-family: Proxima;
    font-size: 1.5rem;
    color: #2D2D2D;
}

h1,
h2,
h3,
h4 {
    font-family: Moranga-Regular;
    margin: 1.5vh auto;
}

h3 {
    font-size: 3rem;
    margin-top: 2vh;
    color: #60667E;
}

h4 {
    margin-bottom: 1vh;
}

.role {
    margin-bottom: 2.5vh;
}

.role h4 {
    color: #60667E;
    margin-bottom: 0;
}

p {
    line-height: 2.75rem;
    margin-bottom: 3vh;
    margin-top: 0;

}

section {
    max-width: 50rem;
    margin: auto;
}

.mainTitle {
    text-align: center;
    height: 100vh;
}

.mainTitle h1 {
    font-size: 8rem;
    padding-top: 25vh;
    color: #60667E;
}

.mainTitle h2 {
    font-size: 5rem;
    padding-bottom: 2vh;
}

.mainTitle p {
    font-size: 2rem;
    line-height: 3rem;
}
