@font-face {
    font-family: Moranga-Regular;
    src: url(../Moranga/Moranga-Regular.otf) format("opentype");
}

@font-face {
    font-family: Proxima;
    src: url(../Proxima_Nova/ProximaSoft-Regular.otf) format("opentype");
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    font-family: Proxima;
    font-size: 1.5rem;
    color: #2D2D2D;
}

#image {
    display: block;
    margin: 1vh auto;
    margin-bottom: 2vh;
    width: 60%;
    height: auto;
}

h1,
h2,
h3,
h4 {
    font-family: Moranga-Regular;
    margin: 1.5vh auto;
}

h3 {
    font-size: 3rem;
    margin-top: 4vh;
    color: #60667E;
}

h4 {
    margin-bottom: 1vh;
    margin-top: 4vh;
}

.role {
    margin-bottom: 2.5vh;

}

.role h4 {
    color: #60667E;
    margin-bottom: 0;
}

.role ul {
    margin-top: 1vh;
}

p {
    line-height: 2.75rem;
    margin-bottom: 3vh;
    margin-top: 0;

}

section {
    max-width: 45rem;
    margin: auto;
    margin-bottom: 8rem;
}

.mainTitle {
    text-align: center;
    height: 100vh;
}

.mainTitle h1 {
    font-size: 10vh;
    padding-top: 16vh;
    padding-bottom: 0;
    color: #60667E;
}

.mainTitle h2 {
    font-size: 7vh;
    padding-bottom: 1vh;
}

.mainTitle p {
    font-size: 2rem;
    line-height: 2.75rem;
}

#friends {
    width: 22%;
    height: auto;
}



#grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0%;
    text-align: center;
}

#screens2 {
    text-align: center;
    font-weight: 600;
}

#screens2 img {
    margin-bottom: 4vh;
}

a {
    color: #2D2D2D;
    text-decoration: none
}

a:hover {
    color: #60667E;
}
